<%= render 'shared/errors', obj: @device %>

<div class="container">
  <div class="row center-align add-user">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h5 class="header"><%= @device.new_record? ? "ADD NEW DEVICE" : "EDIT DEVICE" %></h5>
        <div class="row">
          <%= form_for(@device, html: {class: "col s12"}) do |f| %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :title, class: "form-control", placeholder: "Device Name", autofocus: true %>
              <%= f.label :title, "Device Name" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :serial, class: "form-control", placeholder: "Device Serial Number", autofocus: true %>
              <%= f.label :serial, "Device Serail Number" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <%= f.text_area :description, class: "materialize-textarea", placeholder: "Description for Device" %>
                <%= f.label :description %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <%= f.select :device_type, [["SWITCH"],["ACCESSPOINT"],["WORKSTATION"]] %>
              <%= f.label :type, "Device Type" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <label>
                <%= f.check_box :device_real, class: "filled-in", checked: "unchecked" %>
                <span>Real Device?</span>
              </label>
            </div>
            <div class="input-field col s4">
              <label>
                <%= f.check_box :device_telnet, class: "filled-in", checked: "unchecked" %>
                <span>Telnet</span>
              </label>
            </div>
            <div class="input-field col s4">
              <label>
                <%= f.check_box :active, class: "filled-in", checked: "checked" %>
                <span>Device Status</span>
              </label>
            </div>
          </div>
         <div class="row">
           <div class="input-field col s12">
            <%= f.button(@device.new_record? ? "Add Device" : "Update Device", class: "btn orange waves-effect waves-light right") %>
          </div>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
