<div class="row user-list add-user">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <h5 class="center-align header"><b>USER DIRECTORY</b></h5>
        <div class="row">
            <ul class="collection">
              <% @users.each do |user| %>
              <li class="collection-item avatar">
                <i class="material-icons circle">account_circle</i>
                <span class="title"><%=link_to user.first_name+" "+user.last_name, user_path(user)%></span><br>
                <span class="title"><%=user.email%></span><br>
                <span>Rolse : <%if user.super_admin %><%= "Super Admin"%>
                  <%else%><%= user.admin? ? "Admin" : "User" %>
                  <%end%></span><br>
                <span>Total Testsuites: <%= user.testsuites.count %>, Total Testcases: <%= user.testcases.count %></span>
              </li>
              <% end %>
            </ul>
        </div>
      </div>
    </div>
  </div>
