<%= form_tag schedule_path, method: :post, id: "schedule_testsuite" do %>
<div class="row center-align">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <h5 class="header"><b>SCHEDULE TESTSUITE</b></h5>
      <div class="row">
        <div class="input-field col s4">
          <%= select_tag :release_name, options_from_collection_for_select(Release.all, :title, :title, params[:release_id]) %>
          <%= label_tag :release_name, "Release Version" %>
        </div>
        <div class="input-field col s4 offset-s3">
          <%= select_tag :testcycle_name, options_from_collection_for_select(Testcycle.all, :title, :title, params[:testcycle_id]) %>
          <%= label_tag :testcycle_name, "Test Cycle" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <%= select_tag :browser, options_for_select(["chrome", "firefox", "safari"], "chrome") %>
          <%= label_tag :browser, "Browser" %>
        </div>
        <div class="input-field col s4 offset-s3">
          <%= select_tag :os, options_for_select(["any", "windows", "linux"], "any") %>
          <%= label_tag :os, "Operating System" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= text_field_tag :testsuite_name, @schedule.testsuite_name, readonly: true%>
          <%= label_tag :testsuite_name, "Testsuite Name" %>
        </div>
      </div>
      <div class="row">
        <h6 class="header"><b>-: SCHEDULE TIME :-</b></h6>
          <p><label><%= check_box_tag "everyselected_days", "everyselected_days", @schedule.everyselected_days, class: "filled-in" %><span><b>Every selected Days OR Specific Day</b></span></label></p>
        <div class="daystopick">
          <div class="input-field col s1">
            <label><%= check_box_tag "days[1]", "mon", @schedule.days.include?("1"), class: "filled-in" %><span>MON</span></label>
          </div>
          <div class="input-field col s1">
            <label><%= check_box_tag "days[2]", "tue", @schedule.days.include?("2"), class: "filled-in" %><span>TUE</span></label>
          </div>
          <div class="input-field col s1">
            <label><%= check_box_tag "days[3]", "wed", @schedule.days.include?("3"), class: "filled-in" %><span>WED</span></label>
          </div>
          <div class="input-field col s1">
            <label><%= check_box_tag "days[4]", "thu", @schedule.days.include?("4"), class: "filled-in" %><span>THU</span></label>
          </div>
          <div class="input-field col s1">
            <label><%= check_box_tag "days[5]", "fri", @schedule.days.include?("5"), class: "filled-in" %><span>FRI</span></label>
          </div>
          <div class="input-field col s1">
            <label><%= check_box_tag "days[6]", "sat", @schedule.days.include?("6"), class: "filled-in" %><span>SAT</span></label>
          </div>
          <div class="input-field col s1">
            <label><%= check_box_tag "days[7]", "sun", @schedule.days.include?("7"), class: "filled-in" %><span>SUN</span></label>
          </div>
        </div>
        <div class="datetimefield">
          <div class="date-field col s2">
            <%= label_tag :date, "Date: "+@schedule.date %>
            <%= date_field_tag :date, class: "datepicker" %>
          </div>
        </div>
        <div class="time-field col s2">
          <%= label_tag :time, "Time: "+@schedule.time %>
          <%= time_field_tag :time, class: "timepicker" %>
        </div>
      </div>
        <div class="row">
          <div class="input-field col s12">
            <%= submit_tag ("Schedule"), class: "btn orange waves-effect waves-light right"%>
          </div>
        </div>
       </div>
    </div>
  </div>
<%end%>
