<%= form_tag submission_testexecutions_path, method: :post, id: "submit_testcases" do %>
<div class="row center-align">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <h5 class="header"><b>TESTSUITE EXECUTION</b></h5>
      <div class="row">
        <div class="input-field col s12">
          <%= submit_tag ("Submit All Selected"), class: "btn orange waves-effect waves-light right"%>
        </div>
      </div>
      </div>
    </div>
  </div>
<table>
  <thead>
    <tr>
      <th>Select All</th>
      <th>Action</th>
      <th>Testsuite Name</th>
    </tr>
  </thead>
  <tboady>
    <% @testsuites.each do |testsuite| %>
    <tr>
      <td><label><%= check_box_tag "testsuites[]", id: testsuite.id,  class: "filled-in", checked: "checked" %><span></span></label></td>
      <td><%= link_to 'Execute', submission_testexecutions_path%></td>
      <!-- <td><%= button_to "Test", trigger_testexecutions_path, method: :post %></td> -->
      <td><%= testsuite.title%></td>
    </tr>
    <% end %>
  </tboady>
</table>
<%end%>
