
  <div class="row">
    <%= link_to reports_path do %>
    <div class="col s3 offset-s1">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'testreport.jpg' %>
        </div>
        <div class="card-content">
          <span class="card-title">Report By Testcases</span>
        </div>
      </div>
    </div>
    <% end %>
    <%= link_to testsuites_reports_path do %>
    <div class="col s3 offset-s1">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'testreport.jpg' %>
        </div>
        <div class="card-content">
          <span class="card-title">Report By Testsuites</span>
        </div>
      </div>
    </div>
    <% end %>
    <%= link_to releases_reports_path do %>
    <div class="col s3 offset-s1">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'testreport.jpg' %>
        </div>
        <div class="card-content">
          <span class="card-title">Report By Release</span>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to reports_path do %>
    <div class="col s3 offset-s1">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'testreport.jpg' %>
        </div>
        <div class="card-content">
          <span class="card-title">Report By Testers</span>
        </div>
      </div>
    </div>
    <% end %>
    <%= link_to reports_path do %>
    <div class="col s3 offset-s1">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'testreport.jpg' %>
        </div>
        <div class="card-content">
          <span class="card-title">Report By Project</span>
        </div>
      </div>
    </div>
    <% end %>
    <%= link_to reports_path do %>
    <div class="col s3 offset-s1">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'testreport.jpg' %>
        </div>
        <div class="card-content">
          <span class="card-title">Report By Test Cycle</span>
        </div>
      </div>
    </div>
    <% end %>
</div>
