<%= render 'shared/errors', obj: @testcase %>

<div class="container">
  <div class="row center-align add-testcase">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h5 class="header"><%= @testcase.new_record? ? "ADD NEW TESTCASE" : "EDIT TESTCASE" %></h5>
        <div class="row">
          <%= form_for(@testcase, html: {class: "col s12"}) do |f| %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :title, class: "form-control", placeholder: "Name of Testcase", autofocus: true %>
              <%= f.label :title, "Testcase Name" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <%= f.text_area :description, class: "materialize-textarea", placeholder: "Description for Testcase" %>
                <%= f.label :description %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s8">
              <%= f.text_field :testuser, class: "form-control", placeholder: "Test User Name" %>
              <%= f.label :testuser, "Test User Name" %>
            </div>
            <div class="input-field col s4">
              <%= f.text_field :testpassword, class: "form-control", placeholder: "Test User Password" %>
              <%= f.label :testpassword, "Test User Password" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :testpath, class: "form-control", placeholder: "testsuite_name/testcase_name.rb" %>
              <%= f.label :testuser, "Testcase Path" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <%= f.collection_select :testsuite_id, ::Testsuite.all, :id, :title, {prompt: "Choose TestSuite name"} %>
              <%= f.label :testsuite_id, "Testsuite Name" %>
            </div>
            <div class="input-field col s6">
              <%= f.collection_select :user_id, ::User.all, :id, :email, {prompt: "Choose Assignee name"} %>
              <%= f.label :user_id, "Assignee To" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <%= f.collection_select :array_serial, ::Device.all, :serial, :serial, {prompt: "Choose array name"} %>
              <%= f.label :array_serial, "Array Serial Number" %>
            </div>
          </div>
            <label>
              <%= f.check_box :runmode, class: "filled-in" %>
              <span> Testcase Run Mode</span>
            </label>
         <div class="row">
           <div class="input-field col s12">
            <%= f.button(@testcase.new_record? ? "Add Testcase" : "Update Testcase", class: "btn orange waves-effect waves-light right") %>
          </div>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
