<div class="row">
  <div class="col s12 m12">
    <div class="card-panel">
      <div class="row header center">
        <h6><b>TESTSUITE DETAILS</b></h6>
      </div>
      <div class="row">
        <div class="col s8 m8">
          <b>NAME:</b>&emsp;<%= @testsuite.title %>
      </div>
      <div class="col s4 m4">
        <b>Total Testcases:</b>&emsp;<%= @testsuite.testcases.count %>
    </div>
    </div>
      <div class="row">
        <div class="col s12 m12">
          <b>DESCRIPTION:</b> <%= @testsuite.description %>
        </div>
      </div>
      <div class="row">
        <div class="col s4 m4">
          <b>CREATED BY:</b>&emsp;<%= @testsuite.created_by %>
        </div>
        <div class="col s4 m4">
          <b>UPDATED BY:</b>&emsp;<%= @testsuite.updated_by %>
        </div>
        <div class="col s4 m4">
          <b>ASSIGNED TO:</b>&emsp;<%= @testsuite.user.email if @testsuite.user %>
        </div>
      </div>
      <%= link_to '<i class="material-icons right">create</i> Edit'.html_safe, edit_testsuite_path(@testsuite), class: "btn waves-effect waves-light" %>
      <%= link_to '<i class="material-icons right">delete_forever</i> Delete'.html_safe, testsuite_path(@testsuite), method: :delete, data: {confirm: "Are you sure?"}, class: "btn waves-effect waves-light" %>
      <%= link_to '<i class="material-icons left">list</i> List Testsuites'.html_safe, testsuites_path, class: "btn waves-effect waves-light right" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 offset-s0">
      <table class="striped">
        <thead>
          <tr><%= link_to 'Order Testcases', "#modal1", class: "btn modal-trigger" %>
              <th>Testcase Name</th>
              <th>Description</th>
              <th>Created by</th>
              <th>Assigned To</th>
              <th>Created On</th>
              <th>Updated On</th>
          </tr>
        </thead>
        <tbody>
          <%if @testsuite.sequence?%>
            <% @testsuite.sequence.each do |id| %>
            <%testcase= Testcase.find(id)%>
            <tr>
              <td><%= link_to testcase.title, testcase_path(testcase) %> </td>
              <td><%= truncate(testcase.description, length:50) %></td>
              <td><%= testcase.user.first_name+" "+testcase.user.last_name if testcase.user%></td>
              <td>Kartik Aiyar</td>
              <td><%= testcase.created_at.to_date %></td>
              <td><%= testcase.updated_at.to_date %></td>
            </tr>
          <% end %>
          <%else%>
            <% @testsuite.testcases.each do |testcase| %>
              <tr>
                <td><%= link_to testcase.title, testcase_path(testcase) %> </td>
                <td><%= truncate(testcase.description, length:50) %></td>
                <td><%= testcase.user.first_name+" "+testcase.user.last_name if testcase.user%></td>
                <td>Kartik Aiyar</td>
                <td><%= testcase.created_at.to_date %></td>
                <td><%= testcase.updated_at.to_date %></td>
              </tr>
              <%end%>
          <%end%>
        </tbody>
      </table>
  </div>
</div>


<!-- Modal Trigger -->
<%= link_to 'Order Testcases', "#modal1", class: "btn modal-trigger" %>
<!-- Modal Structure -->
<%testcase_ids=@testsuite.sequence %>
<div id="modal1" class="modal">
  <div class="modal-content">
    <label>Available testcases to order</label>
    <%= form_tag order_testsuite_path, method: :post, id: "order_testcase" do %>
    <%if testcase_ids.size > 0%>
    <label>Update testcases order</label>
    <table>
      <tbody class ="sortable">
        <% testcase_ids.each do |id| %>
        <% testcase = Testcase.find(id) %>
          <tr>
            <td><%= testcase.id %></td>
            <td><%= testcase.title%></td>
            <%= hidden_field_tag 'testcase_ids[]', testcase.id %>
        </tr>
        <%end%>
      </tbody>
    </table>
    <%else%>
      <label>First Time Testcases to order</label>
    <table>
      <tbody class ="sortable">
        <% @testsuite.testcases.each do |testcase| %>
          <tr>
            <td><%= testcase.id %></td>
            <td><%= testcase.title%></td>
            <%= hidden_field_tag 'testcase_ids[]', testcase.id %>
        </tr>
        <%end%>
      </tbody>
    </table>
    <%end%>
      <div class="apply-button col s2">
        <%= submit_tag ("Save Testcase Order")%>
      </idv>
      <% end %>
  </div>
</div>
