<div class="row">
  <div class="col s12 m12">
    <div class="card-panel">
      <div class="row header center">
        <h6><b>TESTSUITE DETAILS</b></h6>
      </div>
      <div class="row">
        <div class="col s8 m8">
          <b>NAME:</b>&emsp;<%= @testsuite.title %>
      </div>
      <div class="col s4 m4">
        <b>Total Testcases:</b>&emsp;<%= @testsuite.testcases.count %>
    </div>
    </div>
      <div class="row">
        <div class="col s12 m12">
          <b>DESCRIPTION:</b> <%= @testsuite.description %>
        </div>
      </div>
      <div class="row">
        <div class="col s4 m4">
          <b>CREATED BY:</b>&emsp;<%= @testsuite.created_by %>
        </div>
        <div class="col s4 m4">
          <b>UPDATED BY:</b>&emsp;<%= @testsuite.updated_by %>
        </div>
        <div class="col s4 m4">
          <b>ASSIGNED TO:</b>&emsp;<%= @testsuite.user.email if @testsuite.user %>
        </div>
      </div>
      <%= link_to '<i class="material-icons right">create</i> Edit'.html_safe, edit_testsuite_path(@testsuite), class: "btn waves-effect waves-light" %>
      <%= link_to '<i class="material-icons right">delete_forever</i> Delete'.html_safe, testsuite_path(@testsuite), method: :delete, data: {confirm: "Are you sure?"}, class: "btn waves-effect waves-light" %>
      <%= link_to '<i class="material-icons left">list</i> List Testsuites'.html_safe, testsuites_path, class: "btn waves-effect waves-light right" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 offset-s0">
      <table class="striped">
        <thead>
          <tr><%= link_to 'Order Testcases', "#modal1", class: "btn modal-trigger" %>
              <th>Testcase Name</th>
              <th>Description</th>
              <th>Created by</th>
              <th>Assigned To</th>
              <th>Created On</th>
              <th>Updated On</th>
          </tr>
        </thead>
        <tbody>
          <% @testsuite.testcases.each do |testcase| %>
              <td><%= link_to testcase.title, testcase_path(testcase) %> </td>
              <td><%= truncate(testcase.description, length:50) %></td>
              <td><%= testcase.user.first_name+" "+testcase.user.last_name if testcase.user%></td>
              <td>Kartik Aiyar</td>
              <td><%= testcase.created_at.to_date %></td>
              <td><%= testcase.updated_at.to_date %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>


<!-- Modal Trigger -->
<%= link_to 'Order Testcases', "#modal1", class: "btn modal-trigger" %>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <form action="#">
      <div class="col-md-9 col-sm-9 col-xs-9">
        <label class="control-label">Testcase List to Order</label>
        <div class="selected-left">
          <%@testsuite.testcases.each do |testcase|%>
            <p>
            <label>
              <input type="checkbox" class="filled-in" checked="checked" />
              <span><%=testcase.title%></span>
            </label>
          </p>
          <%end%>
        </div>
        <div class="selected-right">
          <button type="button" class="btn btn-default btn-sm" id="btnUp">
            <span class="glyphicon glyphicon-chevron-up"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" id="btnDown">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
        </div>
  </form>
  </div>
</div>
</div>
<script>

  $('#btnUp').click(function(e) {
    $('select').moveUpDown('#PresenterList', true, false);
    e.preventDefault();
  });

  $('#btnDown').click(function(e) {
    $('select').moveUpDown('#PresenterList', false, true);
    e.preventDefault();
  });
</script>
<!-- <div class="row style-select">
  <div class="col-md-12">
    <div class="subject-info-box-1">
      <label>Available Superheroes</label>
      <%= select_tag(:id, options_for_select([["uassigned", "0"]]+ ::Testsuite.last.testcases), multiple:true) %>
    </div>

    <div class="subject-info-arrows text-center">
      <br />
      <input type='button' id='btnRight' value='>' class="btn btn-default" />
      <br />
      <input type='button' id='btnLeft' value='<' class="btn btn-default" />
    </div>

    <div class="subject-info-box-2">
      <label>Superheroes You Have Selected</label>
      <select multiple class="form-control" id="lstBox2">
        <option value="765">Nick Fury</option>
        <option value="698">The Hulk</option>
        <option value="856">Iron Man</option>
      </select>
    </div>

    <div class="clearfix"></div>
  </div>
</div> -->
