<div class="row center-align add-user">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <h5 class="header"><b>RELEASE LIST</b></h5>
        <div class="row">
          <table class="striped">
            <thead>
              <tr>
                  <th>RELEASE VERSION</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Created By</th>
                  <th>Updated By</th>
                  <th>Created On</th>
                  <th>Updated On</th>
              </tr>
            </thead>
            <tbody>
              <% @releases.each do |release| %>
                  <tr>
                  <td><%= link_to release.title.gsub('_','.'), release_path(release) %></td>
                  <td><%= truncate(release.description, length:50) %></td>
                  <td><%= "Active" if release.active %></td>
                  <td>Kartik Aiyar</td>
                  <td>Kartik Aiyar</td>
                  <td><%= release.created_at.to_date %></td>
                  <td><%= release.updated_at.to_date %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
