<div class="row center-align">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <h5 class="header">Execution Report</h5>
        <div class="row left">
          <div class="col s12">
            <%= form_tag reports_path, method: :get, id: "report_search" do %>
              <%= hidden_field_tag :direction, params[:direction] %>
              <%= hidden_field_tag :sort, params[:sort] %>
              <div class="input-field col s3">
                <%= select_tag :release_name, options_from_collection_for_select(Release.all, :title, :title, params[:release_name]), {prompt: "ALL"} %>
                <%= label_tag :release_name, "Release Version" %>
              </div>
              <div class="input-field col s3">
                <%= select_tag :testcycle_name, options_from_collection_for_select(Testcycle.all, :title, :title, params[:testcycle_name]), {prompt: "ALL"} %>
                <%= label_tag :testcycle_id, "Test Cycle" %>
              </div>
              <div class="input-field col s4">
                <%= select_tag :project_name, options_from_collection_for_select(Project.all, :title, :title, params[:project_name]), {prompt: "ALL"} %>
                <%= label_tag :project_name, "Project Name" %>
              </div>
              <div class="apply-button col s2">
                <%= submit_tag ("Apply Filter")%>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="col s6 m6 l6 right">
            <%= pie_chart [["PASS", @reports_without_pagination.map(&:pass).sum],["FAIL", @reports_without_pagination.map(&:fail).sum], ["PENDING",@reports_without_pagination.map(&:pending).sum]], height: "200px" %>
          </div>
          <div class="col s6 m6 l6 left">
                <%= bar_chart [["TESTSUITES", @reports_without_pagination.pluck(:testsuite_name).uniq.count], ["TESTCASES",@reports_without_pagination.pluck(:testcase_name).uniq.count]], height: "200px" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <span class="col s1.5 orange" >Total Testsuites: <b><%=@testsuites.count%></b></span>
          <span class="col s1.5 orange" >Pending: <b><%=@testsuites.count - @reports_without_pagination.pluck(:testsuite_name).uniq.count %></b></span>
          <span class="col s1.5 grey">Total Testcases: <b><%=@testcase_count%></b></span>
          <span class="col s1.5 grey">Pending: <b><%=@testcase_count - @reports_without_pagination.pluck(:testcase_name).uniq.count%></b></span>
          <span class="col s1.5 green">Total Pass: <%= @reports_without_pagination.map(&:pass).sum %></span>
          <span class="col s1.5 red">Total Fail: <%= @reports_without_pagination.map(&:fail).sum %></span>
          <span class="col s1.5 yellow">Total Pending: <%= @reports_without_pagination.map(&:pending).sum %></span>
          <span class="col s1.5 orange">Total: <%= @reports_without_pagination.map(&:pass).sum + @reports_without_pagination.map(&:fail).sum+ @reports_without_pagination.map(&:pending).sum %></span>
        </div>
      </div>
    </div>
  </div>
</div>
