<div class= "digg_pagination right">
   <%= will_paginate %>
</div>
<div class="row">
  <table>
    <thead>
      <tr>
        <th>ReportID</th>
        <th>Release</th>
        <th>Project</th>
        <th>Build</th>
        <th>Testsuite</th>
        <th>Testcase</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Time (Minutes)</th>
        <th>Pass</th>
        <th>Fail</th>
        <th>Pending</th>
        <th>Total</th>
        <th>Comments</th>
        <th>Logs</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
          <tr>
          <td><%= link_to report.id, edit_report_path(report) %><br><%= link_to 'Re-Run', {controller: 'testexecutions', action: 'submission', testcase: Testcase.find_by(title: report.testcase_name)} %></td>
          <td><%= report.release_name %></td>
          <td><%= report.project_name %></td>
          <td><%= report.build %></td>
          <td><%= link_to report.testsuite_name, testsuite_report_path(Testsuite.find_by(title: report.testsuite_name)) if Testsuite.find_by(title: report.testsuite_name) %></td>
          <td><%= link_to report.testcase_name, testcase_path(Testcase.find_by(title: report.testcase_name)) if Testcase.find_by(title: report.testcase_name)%></td>
          <td><%= report.start_at.localtime.strftime("%D %T") if report.start_at %></td>
          <td><%= report.end_at.localtime.strftime("%D %T") if report.end_at %></td>
          <td><%= (report.duration/60).round(2) %></td>
          <td class="green"><%= report.pass %></td>
          <td class="red"><%= report.fail %></td>
          <td class="yellow"><%= report.pending %></td>
          <td><%= report.pass + report.fail + report.pending %></td>
          <td><%= link_to report.comment, edit_report_path(report) %></td>
          <td><%= link_to "Open", report.log_path, target: :_blank if report.log_path %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
